html {
  font-size: 20px;
  font-family: "Story Script", sans-serif;
  background-image: url(images/moes_tavern.png); /* Chose a background that shows Moe's Tavern */
  background-size: cover; /* to fill the screen */
  background-position: center; /* center the image */
  background-repeat: repeat;
  background-attachment: fixed;
}

body {
  font-family: "Times New Roman", Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  padding: 5%;
  background-color: rgba(4, 170, 109, 0.3) /*so you could see the text */
}

h1 {
  color: white;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center; /*I always think that names should be centered.  */
  border-bottom: 1px solid #375e97;
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: 2em;
}

.job-title {
  color: white;
  font-weight: bold;
}

.blocks {
  width: 75%;
  margin: 20px auto;
  color: white;
  text-align: left;
  line-height: 1.6;
  background-color: #f9f9f9, 30%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  display: block;
}
/* Make grid more flexible on small screens */
.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.card {
  background: rgba(135, 250, 90, 0.5);
  color: white;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(135, 250, 90, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(255, 23, 68, 0.75);
  background: rgba(43, 255, 61, 0.09);
}

.card h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #ff1744;
  text-shadow: 1px 1px 3px rgba(77, 255, 106, 0.75);
}

.card p {
  font-size: 1rem;
  opacity: 0.95;
  margin: 0;
}

a:link,
a:visited {
  color: rgb(77,255,106);
}

a:hover {
  text-decoration: none;
}

.image-row {
  display: flex;
  justify-content: space-evenly; /* spaces images evenly in the row */
  align-items: center; /* vertically centers them */
  padding: 10px;
}

.image-row img {
  max-width: 100%;
  height: auto;
  padding: 5px;
}
